<footer class="py-5 mt-5 fontType">
    <div class="container mx-auto">
      <h1 class="text-center">Islam Qodeara</h1>
      <div class="my-5 contactLinks">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100075564229931">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a target="_blank" href="https://discord.com/users/991108029527376062">
          <i class="fa-brands fa-discord"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/islam-qodeara-b3150821a">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a target="_blank" href="https://wa.me/1287577651">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a target="_blank" href="https://github.com/islamqodeara7">
          <i class="fa-brands fa-github"></i>
        </a>
     
     
        <a target="_blank" href="https://youtube.com/@islamqodeara6648?si=nT3QJ5CNP9nL2mkC">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div class="myNumbers">
        <h4 class="text-center">01287577651</h4>
        <h4 class="text-center">islamqodeara21@gmail.com</h4>
      </div>
    </div>

  </footer>
