<div class="personalInfo text-center py-5">
    <h2 class="my-5"><span class="firstHalf mx-2">Account</span> 
        <span class="secondHalf mx-2">Info</span></h2>
        <div class="mx-auto data">
            <div><span class="firstHalf mx-2">ID:</span>
            <span class="secondHalf mx-2">{{data._id}}</span></div>
            <div><span class="firstHalf mx-2">First Name:</span>
            <span class="secondHalf mx-2">{{data.first_name}}</span></div>
            <div><span class="firstHalf mx-2">Last Name:</span>
            <span class="secondHalf mx-2">{{data.last_name}}</span></div>
            <div><span class="firstHalf mx-2">Email:</span>
            <span class="secondHalf mx-2">{{data.email}}</span></div>
            <div><span class="firstHalf mx-2">age:</span>
            <span class="secondHalf mx-2">{{data.age}}</span></div>
        </div>

</div>