
<div class="movies my-5">
    <h3 class="my-5">Trending Movies</h3>
    <input type="text" class="px-3" [(ngModel)]="moviesKeyword" placeholder="search movies">
    <div class="row mx-auto">
        <div *ngFor="let movie of moviesList|search:moviesKeyword" class="col-md-4 align-items-center px-2 my-2">
           <a [routerLink]="['/movie-details',movie.id]">
            <p>{{movie.title}}</p>
            <div data-aos="zoom-out" class="moviesItem">
                <img [src]="movie.poster_path? imageLink+movie.poster_path:'assets/broken-1.png'" class="img-fluid" alt="">
            </div>
           </a>
        </div>
    </div>
</div>
<app-endline></app-endline>
<div class="d-flex justify-content-evenly my-5 align-items-center">
    <button (click)="previousPage()" class="btn">Previous Page <i class="fa-solid fa-arrow-left mx-2"></i></button>
    <div class="text-center">page: {{pageNumber}}</div>
    <button (click)="nextPage()" class="btn">Next Page <i class="fa-solid fa-arrow-right mx-2"></i></button>
</div>